<div id="countdown-bg" class="countdown-bg">
</div>
<div id="countdown" class="countdown" data-url="<%= photos_path %>">
    <h1></h1>
</div>
<div class="container">
  <div class="cf featured" id="current_photo">
    <% if @photos.first %>
      <a class="thumbnail">
        <img alt="<%= @photos.first.image_url %>" src="<%= @photos.first.image_url %>">
      </a>
    <% end %>
  </div>

</div>

<script>
  $(function(){
    new Photobooth();
  });
</script>
