body {
  background:#fff url(bg2.png);
}


.container {
  padding:10px; 

}
/* By default, we tilt all our images -2 degrees */
.thumbnail {
  background: #fff;
  display: block;
  width: auto;
  padding: 10px 10px 7px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
}

img { 
  
}

ul.polaroids img {
  width:260px;
  height:173px;
}

.featured img {
  width:780px;
}

.countdown {
  display:none;
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  letter-spacing: 3px;
  color:#fff;
  z-index: 1005;
  font-family: 'PlutoSansMedium',sans-serif;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.countdown-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1004;
  left: 0;
  display:none;
}
